/* For mobile phones: */
[class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
  }
  
  @media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-tablet {
		padding-right: 50px;
		padding-left: 50px;
	}
  }
  
  @media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-desktop {
		padding-right: 100px;
		padding-left: 100px;
	}
  }

.blog_body {
	margin-bottom: 100px;
}

h1 {
	margin: 50px;
	margin-bottom: 25px;
	font-size: 50px;
	text-align: center;
	color: #333333;
}

.posts {
	text-align: left;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration-line: none;
	color: #333333;
}