@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #f5f5f5;
  background: linear-gradient(
    to bottom right,
    #3A243B,
    #4E3550,
    #584458,
    #665566
  );
  background-attachment: fixed;
  min-height: 100vh;
}
