section {
	padding-right: 100px;
	padding-left: 100px;
	margin-bottom: 400px;
}

h1 {
	margin: 50px;
	margin-bottom: 25px;
	font-size: 50px;
	text-align: center;
	font-family: Arial;
	color: #333333;
}

ol {text-align: left;}

li {
	font-size: 20px;
	font-family: Helvetica;}

a {
	text-decoration-line: none;
	color: #225187;
}